In [2]:
#1).Swap the number without using third varible
num1=2
num2=3
num1,num2=num2,num1
print(num1,num2)

3 2

In [13]:
#2). Write a Program to extract each digit from an integer in the reverse order.
no=18882
string=str(no)[::-1]
for i in string:
    print(i,end=" ")

2 8 8 8 1

In [14]:
#Write a program that will give you the sum of 3 digits

def add_3(x,y,z):
    return (x+y+z)

add_3(3,4,5)

12

In [18]:
 #Write a program that will take three digits from the user and add the square of each digit.
def square_add(x,y,z):
    return(x*x+y*y+z*z)
x=int(input("enter no 1"))
y=int(input("enter no 2"))
z=int(input("enter no 3"))
square_add(x,y,z)

enter no 1 4
enter no 2 5
enter no 3 5

66

In [5]:
# Write a program that will check whether the number is armstrong number or not.
no=int(input("enter no"))
temp=no
sum=0
while(no>0):
    res=no%10
    sum+=(res**3)
    no=no//10

if(sum==temp):
    print("armstrong")
else:
    print("not armstrong")

enter no 153

armstrong

In [5]:
#Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.
no=int(input("enter no"))
temp=no
length=len(str(no))
sum=0
while(no>0):
    res=no%10
    sum+=(res**length)
    no=no//10

if(sum==temp):
    print("narcissist")
else:
    print("not narcissist")

enter no 1634

narcissist

In [12]:
#Display float number with 2 decimal places using print()
num=12
print(f"float no {num:.2f}")

float no 12.00

In [23]:
# Print all factors of a given number provided by the user.
no=int(input("enter no"))
mylist=[]
for i in range(1,no+1):
    if no%i==0:
        mylist.append(i)

print(mylist)

enter no 6

[1, 2, 3, 6]

In [27]:
# Q9 Accept a list of 5 float numbers as an input from the user
mylist=[]
for i in range(1,6):
    val=float(input("enter no"))
    mylist.append(val)
print(mylist)

enter no 5
enter no 8
enter no 7
enter no 6
enter no 32

[5.0, 8.0, 7.0, 6.0, 32.0]

In [24]:
#Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.
r=int(input("enter radius"))
h=int(input("enter height"))
pi=3.14
vol=pi*r*r*h
print(vol)
cost=vol*40
print(cost)

enter radius 5
enter height 6

471.0
18840.0